<html ng-app="helloworld"/>

<head>
	<title>Hello World</title>
	<script src="angular.js"></script>
	<script>
		angular.module("helloworld", []);
		angular.module("helloworld").controller("helloworldCtrl", function ($scope) {
			$scope.message = "HELLO!";
		})
	</script>	
</head>

<body>
	<div ng-controller="helloworldCtrl">
		{{message}}
	</div>
</body>

</html>